<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="../../static/app/content/Profile_Stylesheet.css">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <div class="header">
                    <div class="logo">
                        <img src="../../static/app/images/logo.png" alt="SkyVibe Logo" height="70" />
                    </div>
                    <div class="user-profile">
                        <img src="../../static/app/images/avatar.jpg" alt="Navbar Profile Pic" height="60" />
                        <i class="fa-solid fa-arrow-down" style="color: #ffffff; cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
        <!-- Profile Section -->
        <section class="profile-section">
            <div class="profile-image">
                <img src="../../static/app/images/avatar.jpg" alt="Profile Image"> <!-- double check profile image-->
                <button class="edit-button">Edit</button>
            </div>
            <div class="profile-details">
                <h2>My Profile</h2> <!-- main title-->
                <div class="info-section">
                    <a href="{% url 'logout' %}">Logout</a>

                    <h3>Personal Information</h3>
                    <div class="info-row">
                        <div class="info-item">
                            <label>First Name:</label>
                            <p>{{ user.first_name }}</p>
                        </div>
                        <div class="info-item">
                            <label>Last Name:</label>
                            <p>{{ user.last_name }}</p>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="info-item">
                            <label>Email:</label>
                            <p>{{ user.email }}</p>
                        </div>
                        <div class="info-item">
                            <label>Phone Number:</label>
                            <p>+44 123-456-7890</p>
                        </div>
                    </div>
                </div>
                <div class="info-section">

                    <h3>General Information</h3>
                    <div class="info-row">
                        <div class="info-item">
                            <label>Department:</label>
                            <p>Testing</p>
                        </div>
                        <div class="info-item">
                            <label>Team:</label>
                            <p>Web Development</p>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="info-item">
                            <label>Role:</label>
                            <p>{{ user.role }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2023 SkyVibe. All rights reserved.</p>
    </footer>
</body>
</html>