<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKY: Survey</title>
    {% load static %}
    <!-- Load the static tag -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{% static 'surveyPage/css/surveyPage_css.css' %}"
    />
  </head>
  <body>
    <nav>
      <div class="container-fluid">
        <div class="navbar">
          <div class="navbar-left">
            <img
              src="{% static 'surveyPage/images/logo.png' %}"
              alt="SkyVibe Logo"
              class="logo"
              height="70"
            />
          </div>
          <div class="navbar-right">
            <img
              src="{% static 'surveyPage/images/Unknown.jpg' %}"
              alt="Navbar Profile Pic"
              class="profile-pic"
              height="60"
              weight="70"
            />
            <i class="fa-solid fa-arrow-down" style="color: #ffffff"></i>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div class="container">
        <div class="row">
          <div class="header-container">
            <p class="back-button"><i class="fa-solid fa-less-than"></i>Back</p>
            <h3 class="header-text">2025 QUARTER 2 SQUAD HEALTH CHECK</h3>
          </div>
          <div class="container-survey">
            <div class="progress-container custom-progress">
              <div class="progress-bar">
                <span class="progress-step" id="q1">
                  <span class="circle">1</span>
                  <span class="micro-circle" id="q1-micro-1"></span>
                  <span class="micro-circle" id="q1-micro-2"></span>
                </span>
                <span class="progress-step" id="q2">
                  <span class="circle">2</span>
                  <span class="micro-circle" id="q2-micro-1"></span>
                  <span class="micro-circle" id="q2-micro-2"></span>
                </span>
                <span class="progress-step" id="q3">
                  <span class="circle">3</span>
                  <span class="micro-circle" id="q3-micro-1"></span>
                  <span class="micro-circle" id="q3-micro-"></span>
                </span>
                <span class="progress-step" id="q4">
                  <span class="circle">4</span>
                  <span class="micro-circle" id="q4-micro-1"></span>
                  <span class="micro-circle" id="q4-micro-2"></span>
                </span>
                <span class="progress-step" id="q5">
                  <span class="circle">5</span>
                  <span class="micro-circle" id="q5-micro-1"></span>
                  <span class="micro-circle" id="q5-micro-2"></span>
                </span>
                <span class="progress-step" id="q6">
                  <span class="circle">6</span>
                  <span class="micro-circle" id="q6-micro-1"></span>
                  <span class="micro-circle" id="q6-micro-2"></span>
                </span>
                <span class="progress-step" id="q7">
                  <span class="circle">7</span>
                  <span class="micro-circle" id="q7-micro-1"></span>
                  <span class="micro-circle" id="q7-micro-2"></span>
                </span>
                <span class="progress-step" id="q8">
                  <span class="circle">8</span>
                  <span class="micro-circle" id="q8-micro-1"></span>
                  <span class="micro-circle" id="q8-micro-2"></span>
                </span>
                <span class="progress-step" id="q9">
                  <span class="circle">9</span>
                  <span class="micro-circle" id="q9-micro-1"></span>
                  <span class="micro-circle" id="q9-micro-2"></span>
                </span>
                <span class="progress-step" id="q10">
                  <span class="circle">10</span>
                  <span class="micro-circle" id="q10-micro-1"></span>
                  <span class="micro-circle" id="q10-micro-2"></span>
                </span>
                <span class="progress-step" id="q11">
                  <span class="circle">11</span>
                  <span class="micro-circle" id="q11-micro-1"></span>
                  <span class="micro-circle" id="q11-micro-2"></span>
                </span>
                <span class="progress-step" id="q12">
                  <span class="circle">12</span>
                  <span class="micro-circle" id="q12-micro-1"></span>
                  <span class="micro-circle" id="q12-micro-2"></span>
                </span>
                <span class="progress-step"id="q13">
                  <span class="circle">13</span>
                  <span class="micro-circle" id="q13-micro-1"></span>
                  <span class="micro-circle" id="q13-micro-2"></span>
                </span>
                <span class="progress-step">
                  <span class="circle">14</span>
                </span>
              </div>
            </div>
            <div class="survey-header-container">
              <h1 class="survey-heading">Suitable Process</h1>
              <h3>
                Is your way of working motivational and harmonic?
              </h3>
            </div>
            <div class="scale-bar-container">
              <!-- Emoji placeholders -->
              <div class="emoji-container">
                <img
                  src="{% static 'surveyPage/images/bad-emoji.png' %}"
                  alt="Angry"
                  class="emoji emoji-left"
                />
                <img
                  src="{% static 'surveyPage/images/neutral-emoji.png' %}"
                  alt="Neutral"
                  class="emoji emoji-middle"
                />
                <img
                  src="{% static 'surveyPage/images/good-emoji.png' %}"
                  alt="Happy"
                  class="emoji emoji-right"
                />
              </div>

              <!-- Scale bar -->
              <div class="scale-bar">
                <input
                  type="range"
                  min="0"
                  max="100"
                  value="50"
                  class="scale-slider"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="comment-container">
                <form action="#" class="survey-form" id="surveyForm">
                  <input
                    type="text"
                    class="survey-field"
                    id="commentInput"
                    placeholder="Additional comments..."
                  />
                  <button type="submit" class="survey-button">
                  <i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i>
                </form>
              </div>
            </div>
            <div id="commentSection">
              <ul id="commentsList"></ul>
            </div>
            <div class="backAndNextBtns">
            <div class="col-6">
              <a href="{% url 'survey_q7' %}"
                ><button id="backBtn" class="backBtn">Back</button></a
              >
              </div>
              <div class="col-6">
              <a href="{% url 'survey_q9' %}"
                ><button id="nextQuestionBtn" class="nextQuestionBtn">Next Question</button></a
              >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="progress-data" data-current-question="{{ current_question }}"></div>
    </main>
    <script src="{% static 'surveyPage/js/surveyPage_js.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>