* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "skyFont", sans-serif;
}
body {
  background: linear-gradient(180deg, #53b0d4 20%, #e9b2b1 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}
@font-face {
  font-family: "skyFont";
  src: url("/mySkyProject/surveyPage/static/surveyPage/font/Sky\ Text.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
nav {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0 20px !important;
  height: 80px !important;
}
nav .profile-pic {
  border-radius: 50%;
  object-fit: cover;
  margin: 0;
  width: 80px;
}

.fa-arrow-down {
  margin-left: 0; /* Ensure no extra margin */
}

.navbar-left {
  display: flex !important;
  align-items: center !important;
}

.navbar-right {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important; /* Add spacing between profile pic and arrow */
}
@media (max-width: 768px) {
  .navbar-logo img.logo {
    height: 30px;
    width: 30px;
  }
}
