<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYvibe</title>
    {% load static %} <!-- Load the static tag -->
    <link rel="stylesheet" href="{% static 'welcomePage/css/homePage_css.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>

</style>

<body>
    <div class="banner">
        <!-- clouds animation -->
        <div class="clouds">
            <img src="{% static 'welcomePage/images/cloud1.png' %}" style="--i:1;">
            <img src="{% static 'welcomePage/images/cloud2.png' %}" style="--i:2;">
            <img src="{% static 'welcomePage/images/cloud3.png' %}" style="--i:3;">
            <img src="{% static 'welcomePage/images/cloud4.png' %}" style="--i:4;">
            <img src="{% static 'welcomePage/images/cloud5.png' %}" style="--i:5;">
            <img src="{% static 'welcomePage/images/cloud1.png' %}" style="--i:10;">
            <img src="{% static 'welcomePage/images/cloud2.png' %}" style="--i:9;">
            <img src="{% static 'welcomePage/images/cloud3.png' %}" style="--i:8;">
            <img src="{% static 'welcomePage/images/cloud4.png' %}" style="--i:7;">
            <img src="{% static 'welcomePage/images/cloud5.png' %}" style="--i:6;">
        </div>

        {% block content %}
        <div class="forgotpassword" id="forgotPasswordForm">
            <div class="forgot-password-card">

                <form id="forgotForm" action="" method="post">
                    {% csrf_token %}

                    <br>
                    <div class="form-errors">
                        {% if form.non_field_errors %}
                        <ul>
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <ul>
                            <li>{{ error }}</li>
                        </ul>
                        {% endfor %}
                        {% endfor %}
                    </div>

                    <a class="back-login" href="{% url 'login' %}" style="font-size: larger;"> &#60; Back</a>

                    <h4>Forgot Your Password</h4>
                    <p>Please enter the email address you'd like your password reset information sent to.</p>

                    <div class="form-group">
                        {{ form.email }}
                    </div>

                    <button type="submit" class="request-reset-btn">Request Reset Link</button>


                </form>
            </div>
        </div>
    </div>

    {% endblock content %}
</body>

</html>