@font-face {
    font-family: 'skyText';
    src: url('../fonts/Sky_Text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(to bottom, #53b0d4, #e9b2b1);
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'skyText', 'Helvetica', 'Arial', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20%;
    margin-bottom: -3vh;
    opacity: 0;
    animation: fadeInLogo 2s ease-in-out forwards;
}

@keyframes fadeInLogo {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner #welcome {
    position: relative;
    font-size: 1.5em;
    z-index: 10;
    font-weight: bold;
    text-align: center;
    max-width: 80%;
    color: #1c29d9;
    word-wrap: break-word;
    opacity: 0;
    animation: fadeInUp 2s ease-in-out forwards 2s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner .clouds {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    pointer-events: none;
    z-index: -1;
}

.banner .clouds img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(3s * var(--i)) linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    25%, 75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 100;
}

.register-card, .forgot-password-card, .reset-password-card {
    background: linear-gradient(180deg, rgba(255, 143, 55, 0.8) 9%, rgba(255, 14, 86, 0.8) 51.12%, rgba(0, 91, 255, 0.75) 97%);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    text-align: left;
    color: white;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4.5px);
}

.login-card input, .register-card input, .forgot-password-card input, .reset-password-card input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: transparent;
    color: white;
    font-size: 14px;
}

.login-card input::placeholder, .register-card input::placeholder, #forgot-email::placeholder , #reset-password::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-card label {
    display: block;
    margin: 10px 0;
}

.login-card .forgot-password {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin-top: -37px;
    text-align: right;
}

.login-card .forgot-password:hover {
    color: white;
}

.login-card .login-btn,
.register-card .register-btn,.reset-password-btn, .request-reset-btn{
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: white;
    color: #1C29D9;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: 10px auto;
    display: block;
}
.getstarted {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #1C29D9;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: 10px auto;
    display: block;
    opacity: 0;
    animation: fadeInUp 2s ease-in-out forwards 2s;

}

.back-login{
color: white;
font-size: 16px;
}


.login-card .login-btn:hover,
.register-card .register-btn:hover
, .forgot-password .forgot-btn:hover , .reset-password-btn:hover, .request-reset-btn:hover {
    background: #1C29D9;
    color: white;
}

.login-card a .login-btn {
    text-decoration: none;
    color: #1C29D9;
}

.login-card a .login-btn:hover {
    color: white;
}

.login-card #email {
    font-size: 16px;
    margin-top: 40px;
    height: 47px;
}
.login-card #password {
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.2;
    height: 47px;
}

#checkbox {
    margin-left: -200px;
    margin-right: -210px;
    margin-top: -50px;
}

.login-card .admin-btn {
    width: 20%;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: transparent;
    color: white;
    font-size: 16px;
    top: 330px;
    left: 84%;
    transform: translateX(-50%);
    position: absolute;
}

.login-card .admin-btn:hover {
    border-color: white;
    color: #1C29D9;
    background: white;
}

.login-card p {
    margin-top: 10px;
    text-align: center;
}

.login-card .register-link {
    color: #ff8f37;
}


@media (max-width: 768px) {
    .logo {
        width: 30%;
    }
}

.password-container {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.password-requirements{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
};

/* Style password inputs */
.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Add padding on right for eye icon */
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: transparent;
    color: white;
    font-size: 14px;
}

.password-container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Style eye icon image */
 .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.7; /* Matches previous rgba(255, 255, 255, 0.7) */
    transition: opacity 0.3s;
}

.toggle-password.visible {
    opacity: 1;
}

 .toggle-password {
    right: 10px; 
    top: 42px;
}

.hidden {
    display: none;  
}

.name-container {
    display: flex;
    gap: 10px; /* Add spacing between the inputs */
}

.name-container input {
    flex: 1; 
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: transparent;
    color: white;
    font-size: 14px;
}

.department-container {
    display: flex;
    gap: 10px; /* Add spacing between the inputs */
}

.department-container input {
    flex: 1; /* Make both inputs take equal width */
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: transparent;
    color: white;
    font-size: 14px;
}
.department-container select {
    flex: 1; /* Match the width of name-container inputs */
    padding: 10px; /* Match padding of name-container inputs */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Match border */
    border-radius: 25px; /* Match border-radius */
    background: transparent; /* Match background */
    color: white; /* Match text color */
    font-size: 14px; /* Match font size */
    height: 47px;
    appearance: none; /* Remove default browser styling for dropdowns */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 4 5%22%3E%3Cpath fill%3D%22%23ffffff%22 d%3D%22M2 0L0 2h4z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
    
}

.department-container select option {
    background: #1C29D9; /* Dropdown background color */
    color: white; /* Dropdown text color */
}

/* Container for Engineer and Management buttons */
.button-container {
    display: flex; /* Place buttons side by side */
    justify-content: space-between; /* Add space between the buttons */
    align-items: center; /* Align buttons vertically */
    margin-bottom: 20px; /* Add spacing below the buttons */
}

/* Common styles for both buttons */
.button-container .engineer-btn,
.button-container .management-btn {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: 5px auto;
    display: block;
    background: transparent;
    color: white;
    border: 2px solid white; 
}

.button-container .engineer-btn.active,
.button-container .management-btn.active {
    color: #1C29D9;
    background: rgba(255, 255, 255, 0.574);
}

/* Container for departments and teams */
.department-team-container {
    display: flex; /* Use flexbox for side-by-side layout */
    gap: 20px; /* Add space between the fields */
    justify-content: space-between; /* Distribute space evenly */
    margin-bottom: 20px; /* Add spacing below the container */
}

/* Ensure both fields take equal width */
.department-team-container .form-group {
    flex: 1; /* Make both fields take equal space */
}

/* Optional: Adjust input and select field styling */
.department-team-container select {
    width: 100%; /* Ensure the dropdowns take full width */
    padding: 10px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
}

/* Style for the terms and conditions container */
.terms-container {
    display: flex; /* Use flexbox for side-by-side layout */
    align-items: center; /* Align checkbox and text vertically */
    gap: 10px; /* Add spacing between the checkbox and text */
    margin-bottom: 20px; /* Add spacing below the container */
    font-size: 14px; /* Adjust font size for the text */
    color: white; /* Match text color with the form */
}

/* Style for the checkbox */
.terms-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #1C29D9; /* Set the checkbox color */
}
.login-card .terms-container input[type="checkbox"] {
    margin-left: -200px;
    margin-right: -210px;
    margin-top: -50px;
}

.login-section .form-group {
    width: 450px;
    height: 40px;
}
.login-card .login-btn {
    width: 60%;
}
.login-card .admin-btn {
    position: absolute;

}
.login-card {
    background: linear-gradient(180deg, rgba(255, 143, 55, 0.8) 9%, rgba(255, 14, 86, 0.8) 51.12%, rgba(0, 91, 255, 0.75) 97%);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: white;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4.5px);
    width: 100%;
    padding: 60px;
    box-sizing: border-box;
}
.forgot-password {
    color: white;
    font-size: 0.9rem;
    text-decoration: underline;
}
  
.toggle-password { 
    cursor: pointer;
    color: #555;
    z-index: 2;
    position: relative;
    top: -34px; /* Adjust this value to position the icon */
    left: 410px;
  }

  .form-group input::placeholder {
    color: white;
}